/* To get rid of white border on website */
body { 
    margin: 0;
}

/* Navigation Section */
#NavigationSection {
    padding: 23px;
    text-align: center;
    background-color: #e2d1b2
}

.navigation-container a {
    color: #000000; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 23px;
    transition: color 0.4s ease;
}

.navigation-container a:hover {
    color: rgba(0, 0, 0, 0.4); 
}   

.spacer {
    color: #000000;
    font-size: 25px; 
    margin: 0 10px; 
}

/* First Section */
#FirstSection {
    padding: 100px;
    text-align: center;
}

.photo-background {
    background-image: url('ricky\ montgomery\ wallpaper.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 
}

.text-overlay {
    position: absolute;
    z-index: 1;
    text-align: left;
}

.text-overlay h1 {
    font-size: 60px; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    line-height: 1.2; 
}

.text-overlay h1 span.ricky {
    font-size: 105px; 
    font-family: 'Magneto'; 
}

.text-overlay h1 span.montgomery {
    font-size: 60px; 
    font-family: 'Cooper'; 
}

/* Second Section */
#SecondSection {
    padding: 35px;
    background-color: #173b4b; 
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.text-overlay-about {
    text-align: justify; 
    font-family: "Tahoma";
    font-size: 25px;
    color: #F5F5DC; 
    max-width: 800px; 
    padding: 20px; 
}

.photo-background-about {
    width: 100%; 
    height: auto;
    max-height: 100%; 
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
}

.learn-more-button {
    text-align: center;
    margin-top: 10px;
}

.learn-more-button a {
    display: inline-block;
    padding: 15px 75px; /* Increase padding for larger button */
    text-decoration: none;
    font-weight: bold; 
    background-color: #e2d1b2;
    color: #173b4b;
    border-radius: 5px;
    font-size: 24px; 
    transition: color 0.4s ease;
}

.learn-more-button a:hover {
    color: rgba(255, 255, 255, 0.4); 
}   

/* Third Section */
#ThirdSection {
    background-color: #e2d1b2; 
    height: 220vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.text-overlay-merchandise {
    text-align: justify; 
    font-family: "Magneto";
    font-size: 75px;
    color: #173b4b; 
    max-width: 600px; 
    margin-top: -100px; 
}

.photo-background-bunnyhoodie, .photo-background-bunnyhatback, .photo-background-truthordaretee, .photo-background-FaceTextBeanie, .photo-background-TruthorDareMug{
    width: 80%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
}

.shop-now-button {
    text-align: center;
    margin-top: 10px;
}

.shop-now-button a {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding: 15px 75px; /* Increase padding for larger button */
    text-decoration: none;
    font-weight: bold; 
    background-color: #173b4b;
    color: #e2d1b2;
    border-radius: 5px;
    font-size: 24px; 
    transition: color 0.4s ease;
}

.shop-now-button a:hover {
    color: rgba(0, 0, 0, 0.4); 
}   

/* Fourth Section */
#FourthSection {
    background-color: #173b4b; 
    color: #e2d1b2;
    height: 90vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.upcomingtours {
    font-size: 100px;
    font-family: "Cooper";
    margin-top: -200px; /* Change this to -100px to move the text up */
}

.tour1, .tour2, .tour3 {
    font-family: "Segoe UI Black";
}
.tour1 {
    font-size:38px;
    margin-top:-20px;
    margin-bottom: -25px;
}

.tour2 {
    font-size:36px;
    margin-top:-10px;
}

.tour3 {
    font-size:34px;
    margin-top:10px;
}

.view-all-button {
    text-align: center;
    margin-top: 80px;
    margin-bottom: -100px;
}

.view-all-button a {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding: 15px 75px; /* Increase padding for larger button */
    text-decoration: none;
    font-weight: bold; 
    background-color: #e2d1b2;
    color: #173b4b;
    border-radius: 5px;
    font-size: 24px; 
    font-family: "sans-serif";
    transition: color 0.4s ease;
}

.view-all-button a:hover {
    color: rgba(255, 255, 255, 0.4); 
}   

