/* Home page with sections */
/* To get rid of white border on website */
body { 
    margin: 0;
}

/* Navigation Section */
#NavigationSection {
    padding: 23px;
    text-align: center;
    background-color: #e2d1b2
}

.navigation-container a {
    color: #000000; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 23px;
    transition: color 0.4s ease;
}

.navigation-container a:hover {
    color: rgba(0, 0, 0, 0.4); 
}   

.spacer {
    color: #000000;
    font-size: 25px; 
    margin: 0 10px; 
}

/* First Section */
#FirstSection {
    padding: 100px;
    text-align: center;
}

.photo-background {
    background-image: url('images/ricky\ montgomery\ wallpaper.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 
}

.text-overlay {
    position: absolute;
    z-index: 1;
    text-align: left;
}

.text-overlay h1 {
    font-size: 60px; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    line-height: 1.2; 
}

.text-overlay h1 span.ricky {
    font-size: 105px; 
    font-family: 'Magneto'; 
}

.text-overlay h1 span.montgomery {
    font-size: 60px; 
    font-family: 'Cooper'; 
}

/* Second Section */
#SecondSection {
    padding: 35px;
    background-color: #173b4b; 
    height: 110vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.text-overlay-about {
    text-align: justify; 
    font-family: "Tahoma";
    font-size: 25px;
    color: #F5F5DC; 
    max-width: 800px; 
    padding: 20px; 
}

.photo-background-about {
    width: 100%; 
    height: auto;
    max-height: 100%; 
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
}

.learn-more-button {
    text-align: center;
    margin-top: 10px;
}

.learn-more-button a {
    display: inline-block;
    padding: 15px 65px;
    text-decoration: none;
    font-weight: bold; 
    background-color: #e2d1b2;
    color: #173b4b;
    border-radius: 5px;
    font-size: 24px; 
    transition: background-color 0.4s ease, color 0.4s ease;
}

.learn-more-button a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.85)
}

/* Third Section */
#ThirdSection {
    background-color: #e2d1b2; 
    height: 220vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.text-overlay-merchandise {
    text-align: justify; 
    font-family: "Magneto";
    font-size: 75px;
    color: #173b4b; 
    max-width: 600px; 
    margin-top: -100px; 
}

.photo-background-bunnyhoodie, .photo-background-bunnyhatback, .photo-background-truthordaretee, .photo-background-FaceTextBeanie, .photo-background-TruthorDareMug{
    width: 80%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
}

.shop-now-button {
    text-align: center;
    margin-top: 10px;
}

.shop-now-button a {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding: 15px 75px;
    text-decoration: none;
    font-weight: bold; 
    background-color: #173b4b;
    color: #e2d1b2;
    border-radius: 5px;
    font-size: 24px; 
    transition: background-color 0.4s ease, color 0.4s ease;
}

.shop-now-button a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.85)
}

/* Fourth Section */
#FourthSection {
    background-color: #173b4b; 
    color: #e2d1b2;
    height: 90vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.upcomingtours {
    font-size: 100px;
    font-family: "Cooper";
    margin-top: -200px; /* Change this to -100px to move the text up */
}

.tour1, .tour2, .tour3 {
    font-family: "Segoe UI Black";
}
.tour1 {
    font-size:38px;
    margin-top:-20px;
    margin-bottom: -25px;
}

.tour2 {
    font-size:36px;
    margin-top:-10px;
}

.tour3 {
    font-size:34px;
    margin-top:10px;
}

.view-all-button {
    text-align: center;
    margin-top: 80px;
    margin-bottom: -100px;
}

.view-all-button a {
    font-family: "Sans Serif";
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding: 15px 75px;
    text-decoration: none;
    font-weight: bold; 
    background-color: #e2d1b2;
    color:#173b4b;
    border-radius: 5px;
    font-size: 24px; 
    transition: background-color 0.4s ease, color 0.4s ease;
}

.view-all-button a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.85)
}

/* Fifth Section */
#FifthSection {
    background-color: #e2d1b2; 
    color: #000000;
    height: 80vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}

.text-contactus {
    font-size: 18px;
    margin-bottom: 15px; /* Adjust the margin between sections */
    padding-right: 800px; /* Adjust the padding for space between text and right edge */
    font-weight: bold;
}

.socials {
    align-items: center;
    padding-top: 0px;
    text-align: center;
}

.socials a {
    text-decoration: none; /* Remove underlines */
    margin: 20px;    /* Adjust horizontal spacing between icons */
    color: black;
    opacity: 1; /* Start with full opacity */
    transition: opacity 0.4s ease; /* Add transition for opacity change */
}

.socials a:hover {
    opacity: 0.4; /* Fade to 40% opacity on hover */
}

/* About page */
body {
    background-color: #173b4b;
}

#about-FirstSection {
    height: 70vh;
    background-color: #173b4b; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding-top:80px;
}

.about-photo-background {
    width: 60%; 
    height: auto;
    max-height: 100%; 
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
    padding-top: 80px;
    padding-bottom: 30px;
}

.about-text {
    font-size: 18px;
    font-family: "Tahoma";
    color: #e2d1b2;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; /* Center the container itself */
    line-height: 1.5;
    padding-top: 30px;
    transition: color 0.4s ease;
}

.about-lifelinelink {
    color: #e2d1b2;
}

.about-lifelinelink:hover {
    color: rgba(255, 255, 255, 0.4);
}

#about-SecondSection {
    height: 140vh;
    background-color: #173b4b; ;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.about-text2 {
    font-size: 18px;
    font-family: "Tahoma";
    color: #e2d1b2;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; /* Center the container itself */
    line-height: 2;
}

/* Merchandise page */
body {
    background-color: #e2d1b2;
    margin: 0; /* Remove default margin */
}

/* Add this to your existing CSS */
.cart {
    position: fixed;
    top: 20px; /* Adjust the top position */
    right: 20px; /* Adjust the right position */
    z-index: 999;
    margin: 0; /* Reset margin */
}

/* Style the cart icon to be hollow with an outline */
.cart i {
    background-color: transparent; /* Set the background to transparent */
    border: 2px solid black; /* Set the outline color to black */
    border-radius: 50%; /* Make it circular */
    padding: 10px; /* Add padding for better visibility */
    color: black; /* Set the color to black */
}

/* Add the following rule to ensure the title and cart icon are not overlapped */
.merchandise-title {
    text-align: center; 
    font-family: "Magneto";
    font-size: 45px;
    margin-bottom: -30px;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #e2d1b2;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}

.flex-item {
    padding: 1%;
    flex-grow: 1;
    height: 440px;
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    margin: 1%;
    box-sizing: border-box;
}

.flex-img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    margin-bottom: -25px;
}

.flex-img:hover img {
    transform: scale(1.1);
}

.flex-info {
    text-align: center;
    margin-top: auto;
    font-weight: bold;
    font-size: 1.2em;
}

@media (max-width: 920px) {
    .flex-item {
        flex: 0 45%;
    }
}

img {
    max-width: 100%;
}
